<!-- ./public/index.ejs -->

<!doctype html>
<html ng-app="queryApp">
<head>
    <title>REDCap Query Builder</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="js/jQuery-QueryBuilder-2.4.1/dist/css/query-builder.default.css">
    <style>
        body        { padding-top:40px; }
    </style>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="https://cdn.jsdelivr.net/jquery.query-builder/2.4.1/js/query-builder.standalone.min.js"> </script>
    <script src="js/sql-parser.js"></script>
    <script src="js/controllers/query_controller.js"></script>
    <script src="js/services/query_service.js"></script>
    <script src="js/core.js"></script>

</head>
<body ng-controller="mainController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" style="margin-top:5.5px;">
                        <div style="padding: 0;" class="col-md-8 col-md-offset-2">

                            <!-- QUERY FORM -->
                            <form>
                            
                                <div class="form-group">
                                    <input type="text" class="form-control" styles="font-size: 1.0vw;" ng-model="formData.query" placeholder="Import Query">
                                </div>

                                <button ng-show="false" type="submit" ng-click="importQuery()" class="btn btn-warning btn-lg">Import</button>
                            </form>

                        </div>
            </div>

            <div class="col-md-8">
                <div id="builder"></div>

                <br>

                <div class="row">
                    <div class="col-md-9">
                            <div class="col-md-12">
                                <img src="img/redcap.png"/>
                                <span style="font-size: 2em; font-weight: bold; position:relative; top: 10px;">Number of Records {{rows.length}}<span>
                            </div>
                    </div>
                    <div class="col-md-3">
                        <a id="save-btn" href="#" styles="font-size: 1.0vw;" class="btn btn-primary btn-lg btn-block parse-sql" role="button" data-target="import_export" data-stmt="false" download="query.txt">Save Query</a>

                        <a id="export-btn" href="#" styles="font-size: 1.0vw;" class="btn btn-success btn-lg btn-block parse-sql" role="button" data-target="import_export" data-stmt="false" download="id_records.csv">Export Records As CSV</a>
                    </div>

                <div>

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th style="width:100%">Record ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="row in rows">
                            <td>{{row.record_id}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <script src="js/jQueryBuilderLogic.js"></script>
    
</body>
</html>